<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @professional.user_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @professional.integer %>
</p>

<p>
  <strong>Nothing on record:</strong>
  <%= @professional.nothing_on_record %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @professional.integer %>
</p>

<p>
  <strong>Active:</strong>
  <%= @professional.active %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @professional.integer %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @professional.phone_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @professional.integer %>
</p>

<p>
  <strong>Address:</strong>
  <%= @professional.address_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @professional.integer %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
