<%= bootstrap_form_for @user ,label_errors: false, inline_errors: false do |f| %>

  <%= f.alert_message t('errors.template.body') %>
   <fieldset class="scheduler-border">
      <legend class="scheduler-border">Dados Basicos</legend>
      <div class='row'>
        <div class='col-sm-8'>
          <%= f.text_field :name %>
        </div>
      </div>
       <div class='row'>
        <div class='col-sm-4'>
          <%= f.email_field :email %>
        </div>
        <div class='col-sm-4'>
          <%= f.text_field :email_confirmation %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-3'>
          <%= f.text_field :login %>
        </div> 
      </div>    
       <div class='row'>
        <div class='col-sm-4'>
          <%= f.password_field :password %>
        </div>
        <div class='col-sm-4'>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
       <div class='row'>
        <div class='col-sm-4'>
            <%= f.text_field :cpf , data: { inputmask: "'mask': '999.999.999-99'" } %>
        </div>
        <%= f.fields_for :phones do |p| %>
        <div class='col-sm-4'>
            <%= p.text_field(:phone, data: { inputmask: "'mask': '(99)9999[9]-9999'" }) %>
        </div>
        <% end %>
        </div>
  </fieldset>
    <%= f.fields_for :addresses do |a| %>
      <fieldset class="scheduler-border">
      <legend class="scheduler-border"><%=t 'users.new.titleAddress' %></legend>
      <div class='row'>
        <div class='col-sm-4'>
          <%= a.text_field :cep,data: { inputmask: "'mask': '99999-999'" } , control_col: "col-sm-3", append:link_to("Buscar", "#", class: "btn btn-default",id:"buscarCep", onclick:"return false;")   %>
          <script >
          $("#buscarCep").click(function() {
          $.ajax({
              url: "/cep/search/"+$('#user_addresses_attributes_0_cep').val()+".json",
              type: "GET",
              dataType: 'json',
              contentType: 'application/json',
              data: {},
              success: function (data) {
              $('#user_addresses_attributes_0_main').val(data.main);
              $('#user_addresses_attributes_0_city').val(data.city);
              $('#user_addresses_attributes_0_district').val(data.district);
              $("#user_addresses_attributes_0_state option[value="+data.state+"]").prop("selected", "selected");
          }
        });
        });
          </script>
        </div>
      </div>
       <div class='row'>
        <div class='col-sm-8'>
          <%= a.text_field :main %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-2'>
          <%= a.text_field :num %>
        </div>
        <div class='col-sm-4'>
            <%= a.text_field :complement  %>
        </div>
         <div class='col-sm-4'>
            <%= a.text_field :district  %>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <%= a.text_field :city %>
        </div>
        <div class='col-sm-3'>
            <%= a.collection_select :state ,State.all, :sign,:name %>
        </div>
      </div>
      </fieldset>
      <% end %>
  <%= f.form_group do %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
   <% end %>

<% end %>
