<%- model_class = User -%>
<%- model_class_address = Address -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<fieldset class="scheduler-border">
  <legend class="scheduler-border">Dados Basicos</legend>
  <div class='row'>
    <div class='col-sm-8'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class.human_attribute_name(:name) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.name %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-2'>
      <div class="form-group">
        <label class="control-label" ><%= model_class.human_attribute_name(:login) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.logins[0].username %></p>
        </div>
      </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <label class="control-label"><%= model_class.human_attribute_name(:email) %></label>
          <div class="col-sm-10">
            <p class="form-control-static"><%= @user.email %></p>
          </div>
        </div>
      </div>
    </div>
  <div class='row'>
    <div class='col-sm-2' >
      <div class="form-group" >
        <label class="control-label" ><%= model_class.human_attribute_name(:cpf) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.cpf %></p>
        </div>
      </div>
    </div>
    <div class='col-sm-2'>
      <div class="form-group" >
        <label class="control-label"><%= model_class.human_attribute_name(:phone) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.phones[0].phone %></p>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<fieldset class="scheduler-border">
  <legend class="scheduler-border"><%= t '.titleAddress', :default => model_class_address.model_name.human.titleize %></legend>
  <div class='row'>
    <div class='col-sm-2'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:cep) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].cep %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-4'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:main) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].main %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-2'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:num) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].num %></p>
        </div>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:complement) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].complement %></p>
        </div>
      </div>
    </div>
    <div class='col-sm-2'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:district) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].district %></p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-2'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:city) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= @user.addresses[0].city %></p>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="form-group">
        <label class="control-label" for="user_name"><%= model_class_address.human_attribute_name(:state) %></label>
        <div class="col-sm-10">
          <p class="form-control-static"><%= State.find_by_sign(@user.addresses[0].state).name %></p>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<%= link_to t('.back', :default => t("helpers.links.back")),
            users_path, :class => 'btn btn-default' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_user_path(@user), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            user_path(@user),
            :method => 'delete',
            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
            :class => 'btn btn-danger' %>
