<div class="main-container">
  <div class="container">
    <div class="row">
      <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, inline_errors: false) do |f| %>
      <div class="col-sm-5 login-box">

        <div class="panel panel-default">
          <%= devise_error_messages! %>
          <div class="panel-intro text-center">
            <h2 class="logo-title">
              <!-- Original Logo will be placed here  -->
              <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> KABRA<span>BOM </span> </h2>
          </div>

          <div class="panel-body">
              <div class="form-group">
                <label for="sender-email" class="control-label"> <%= f.label :email %></label>
                <div class="input-icon"> <i class="icon-at fa"></i>
                  <%= f.email_field :email, autofocus: true, hide_label: true %>
                </div>
              </div>
              <div class="form-group">
                <%= f.submit t('passwords.new.button_mail') , class: 'btn btn-primary btn-lg btn-block' %>
              </div>
          </div>
          <div class="panel-footer">
            <p class="text-center "> <a href="/users/sign_in"> <%=t('passwords.new.back_login')%> </a> </p>
            <div style=" clear:both"></div>
          </div>

        </div>
        <div class="login-box-btm text-center">
          <p><%= t('passwords.new.nota_user') %><br>
            <%= link_to t('passwords.new.create_account'), new_registration_path(resource_name) %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>