<%= form_for(@service_professional_feedback) do |f| %>
  <% if @service_professional_feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_professional_feedback.errors.count, "error") %> prohibited this service_professional_feedback from being saved:</h2>

      <ul>
      <% @service_professional_feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :professional_service_id %><br>
    <%= f.number_field :professional_service_id %>
  </div>
  <div class="field">
    <%= f.label :quantity_stars %><br>
    <%= f.number_field :quantity_stars %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :feedback %><br>
    <%= f.text_field :feedback %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
