<%= bootstrap_form_for(@service_ad, layout: :horizontal, inline_errors: false, html: {multipart: true}) do |f| %>
    <fieldset>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :active %>
      <script>
        $(document).ready(function() {
          $('#service_ad_category').change(function() {
            $.ajax({
              url: "<%= remote_select_url %>", // this will be routed
              type: 'GET',
              data: {
                send_id: $("#service_ad_category").val()
              },
              async: true,
              dataType: "json",
              error: function(XMLHttpRequest, errorTextStatus, error){
                alert("Failed: "+ errorTextStatus+" ;"+error);
              },
              success: function(data){
                if(data == null){
                  $("#service_ad_service_id").empty().append(new Option('Selecione', ''));
                }else if(data.length){
                  // here we iterate the json result
                  for(var i in data)
                  {
                    var id = data[i].id;
                    var title = data[i].name;
                    $("#service_ad_service_id").append(new Option(title, id));
                  }
                }else{
                  var id = data.id;
                  var title = data.name;
                  $("#service_ad_service_id").append(new Option(title, id));
                }

              }
            });
          });

        });
      </script>
      <!-- Select Basic -->
      <%= f.collection_select :category, Category.all, :id, :name, {include_blank: 'Selecione', control_col: "col-md-8", label_col: "col-md-3" } %>

      <%= f.select :service_id, @serviceList.collect {|p| [ p.name, p.id ] }, {include_blank: 'Selecione', control_col: "col-md-8", label_col: "col-md-3" } %>


      <!-- Text input-->
      <%= f.text_field :title, control_col: "col-md-8", label_col: "col-md-3", help: t('.helpTitle') %>
      <!-- Textarea -->
      <%= f.text_area :description, control_col: "col-md-8", label_col: "col-md-3" %>
      <%= f.text_field :price, prepend: "R$", data: { inputmask: "'mask': '[999.999.99]9,99', 'numericInput': true, 'greedy': false , 'rightAlign':true"}, control_col: "col-md-4", label_col: "col-md-3" %>

      <%= f.collection_select :service_unit_id, ServiceUnit.all, :id, :name, {include_blank: 'Selecione', control_col: "col-md-4", label_col: "col-md-3" } %>

      <!-- photo -->
      <div class="form-group">
        <label class="col-md-3 control-label" for="textarea"> <%= f.label :picture%> </label>
        <div class="col-md-8">
          <%= f.fields_for :service_images do |image| %>
              <div class="mb10">
                <%= image.file_field_without_bootstrap :photo , class: 'file fileuploadservice', data:{'preview-file-type':'text'} %>
              </div>
          <% end %>
          <p class="help-block"><%= t '.realphotos'%></p>
        </div>
      </div>
      <div class="content-subheading">
        <i class="icon-location fa"></i>
        <strong><%= t 'service_ads.new.comprehensiveness' %></strong>
      </div>
      <%= f.collection_select :state_id, State.where({active: true}), :id, :name, {control_col: "col-md-6", label_col: "col-md-4"} %>

      <%= f.fields_for :city_coverages  do |cc| %>
          <%= cc.collection_select(:city_id, City.all, :id, :name, {control_col: "col-md-6", label_col: "col-md-4",:include_hidden => false}) %>
      <% end %>

        <%=f.collection_check_boxes(:district_ids,District.all, :id, :name)%>
      <!-- Button  -->
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <%= f.submit 'Submit', class:"btn btn-success btn-lg" %>
        </div>
      </div>
    </fieldset>
  <% end %>