<p id="notice"><%= notice %></p>

<h1>Listing Service Ads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Active</th>
      <th>Price</th>
      <th>Service</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_ads.each do |service_ad| %>
      <tr>
        <td><%= service_ad.title %></td>
        <td><%= service_ad.description %></td>
        <td><%= service_ad.active %></td>
        <td><%= service_ad.price %></td>
        <td><%= service_ad.service %></td>
        <td><%= service_ad.user %></td>
        <td><%= link_to 'Show', service_ad %></td>
        <td><%= link_to 'Edit', edit_service_ad_path(service_ad) %></td>
        <td><%= link_to 'Destroy', service_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service ad', new_service_ad_path %>
