<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @service_ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_ad.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @service_ad.active %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service_ad.price %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_ad.service %>
</p>

<p>
  <strong>User:</strong>
  <%= @service_ad.user_id %>
</p>

<%= link_to 'Edit', edit_service_ad_path(@service_ad) %> |
<%= link_to 'Back', service_ads_path %>
