<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kabrabom" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <script src="/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
    <script src="/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <script>
      paceOptions = {
        elements: true
      };
    </script>
    <script src="/js/pace.min.js"></script>
  </head>
  <body>
  <div id="wrapper">
    <div class="header">
      <nav class="navbar   navbar-site navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="index.html" class="navbar-brand logo logo-title">
              <!-- Original Logo will be placed here  -->
              <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> KABRA<span>BOM </span> </a> </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <%- if user_signed_in? %>
                  <li><a href="">Bem-vindo, <%=current_user.first_name%> <%=current_user.last_name%></a></li>
                  <li><%=link_to('Sair', destroy_user_session_path, :method => 'delete')%> </li>
              <% else %>
                  <li><a href="/users/sign_in"><%= t('.login')%></a></li>
                  <li><a href="/users/sign_up"><%= t('.signUp')%></a></li>
              <% end -%>
              <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="post-ads.html"><%= t('.freeAds')%></a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
    <!-- /.header -->



          <%= bootstrap_flash %>
          <%= yield %>


    <div class="footer" id="footer">
      <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
          <li><a href="index.html"><%= t('.home')%> </a> <a href="about-us.html"><%= t('.aboutus')%> </a> <a href="#"> <%= t('.termCond')%> </a> <a href="#"> <%= t('.privacyPolicy')%> </a> <a href="contact.html"> <%= t('.contactUs')%> </a> <a href="faq.html"> <%= t('.faq')%> </a>
        </ul>
        <ul class=" pull-right navbar-link footer-nav">
          <li> &copy; 2015 Kabrabom </li>
        </ul>
      </div>
    </div>
    <!-- /.footer -->
  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script><script src="/bootstrap/js/bootstrap.min.js"></script>

  <!-- include carousel slider plugin  -->
  <script src="/js/owl.carousel.min.js"></script>

  <!-- include equal height plugin  -->
  <script src="/js/jquery.matchHeight-min.js"></script>

  <!-- include jquery list shorting plugin plugin  -->
  <script src="/js/hideMaxListItem.js"></script>

  <!-- include jquery.fs plugin for custom scroller and selecter  -->
  <script src="/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
  <script src="/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
  <!-- include custom script for site  -->
  <script src="/js/script.js"></script>
  <!-- /.wrapper -->
  </body>
</html>
