<div class="main-container">
  <div class="container">
    <div class="row">
      <%= bootstrap_flash %>
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), layout: :horizontal, inline_errors: false) do |f| %>
          <div class="col-md-8 page-content">

            <div class="inner-box category-content">
              <%= my_error_messages! %>
              <h2 class="title-2"><i class="icon-user-add"></i> <%= t('registrations.new.createaccount') %> </h2>
              <div class="row">
                <div class="col-sm-12">
                  <fieldset>
                    <%= f.text_field :first_name, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.first_name') %>
                    <%= f.text_field :last_name, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.last_name') %>

                    <%= f.text_field :phone_number, data: {inputmask: "'mask': '(99)9999[9]-9999','removeMaskOnSubmit':'true'"}, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.phone_number') %>

                    <%= f.form_group :gender, label: {text: t('activerecord.attributes.user.gender')}, label_col: "col-md-4", control_col: "col-md-6" do %>
                        <%= f.radio_button :gender, 'M', label: t('registrations.new.male') %>
                        <%= f.radio_button :gender, 'F', label: t('registrations.new.female') %>
                        <%= f.radio_button :gender, 'N', label: t('registrations.new.notinformative') %>
                    <% end %>
                    <%= f.text_field :cpf, control_col: "col-md-6", label_col: "col-md-4", data: {inputmask: "'mask': '999.999.999-99','removeMaskOnSubmit':'true'"}, placeholder: t('activerecord.attributes.user.cpf') %>
                    <!-- Textarea -->
                    <%= f.email_field :email, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.email') %>
                    <%= f.password_field :password, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.password') %>
                    <%= f.password_field :password_confirmation, control_col: "col-md-6", label_col: "col-md-4", placeholder: t('activerecord.attributes.user.password_confirmation') %>
                    <div class="content-subheading">
                      <i class="icon-address fa"></i>
                      <strong><%= t 'registrations.new.locale' %></strong>
                    </div>
                    <%= f.fields_for :addresses do |a| %>
                        <%= a.text_field :cep, data: {inputmask: "'mask': '99999-999'"}, label_col: "col-md-4", control_col: "col-md-4", append: link_to("Buscar", "#", class: "btn btn-default", id: "buscarCep", onclick: "return false;") %>
                        <script>
                          $("#buscarCep").click(function () {
                            $.ajax({
                              url: "/cep/search/" + $('#user_addresses_attributes_0_cep').val() + ".json",
                              type: "GET",
                              dataType: 'json',
                              contentType: 'application/json',
                              data: {},
                              success: function (data) {
                                $('#user_addresses_attributes_0_main').val(data.main);
                                $('#user_addresses_attributes_0_city').val(data.city);
                                $('#user_addresses_attributes_0_district').val(data.district);
                                $("#user_addresses_attributes_0_state option[value=" + data.state + "]").prop("selected", "selected");
                              }
                            });
                          });
                        </script>
                        <%= a.text_field :main, label_col: "col-md-4", control_col: "col-md-6" %>


                        <%= a.text_field :num, label_col: "col-md-4", control_col: "col-md-2" %>
                        <%= a.text_field :complement, label_col: "col-md-4", control_col: "col-md-6" %>

                        <%= a.text_field :district, label_col: "col-md-4", control_col: "col-md-6" %>
                        <%= a.text_field :city, label_col: "col-md-4", control_col: "col-md-6" %>
                        <%= a.collection_select :state, State.all, :sign, :name, {include_blank: 'Selecione', control_col: "col-md-6", label_col: "col-md-4"} %>
                    <% end %>
                    <div class="form-group">
                      <label class="col-md-4 control-label"></label>
                      <div class="col-md-8">
                        <div class="termbox mb10">
                          <label class="checkbox-inline" for="checkboxes-1">
                            <%= f.check_box_without_bootstrap :term %>
                            <%= t('registrations.new.agreeconditions') %> </label>
                        </div>
                        <div style="clear:both"></div>
                        <%= f.submit t('devise.registrations.new.submit'), class: 'btn btn-primary' %> </div>
                    </div>
                  </fieldset>

                </div>
              </div>
            </div>
          </div>
          <!-- /.page-content -->

          <div class="col-md-4 reg-sidebar">
            <div class="reg-sidebar-inner text-center">
              <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
                <h3><strong><%= t('registrations.new.freead_title') %></strong></h3>
                <p><%= t('registrations.new.freead_description') %>  </p>
              </div>
              <div class="promo-text-box"><i class=" icon-pencil-circled fa fa-4x icon-color-2"></i>
                <h3><strong><%= t('registrations.new.manage_itens_title') %></strong></h3>
                <p> <%= t('registrations.new.manage_itens_description') %></p>
              </div>
              <div class="promo-text-box"><i class="  icon-heart-2 fa fa-4x icon-color-3"></i>
                <h3><strong><%= t('registrations.new.favorite_list_title') %></strong></h3>
                <p> <%= t('registrations.new.favorite_list_description') %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.main-container -->